*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

body{
    background: url(fondo.jpg) no-repeat center center fixed;
    background-size: cover;
}

:root{
    --Red:rgb(239, 57, 57);
    --width: 100%;
    --height: 100%;
    --Yellow:rgb(255, 255, 0);
    --Background-color: rgb(2, 9, 14);
    --line-height: 50px;
  }

div{
    background: url(arte-digital-hermosas-montanas_23-2151123514.avif) no-repeat center center fixed;
    background-size: cover;
    opacity: 80%;
    background-color:var(--Background-color);
    color: var(--Yellow);
    margin: 5px;
    padding: 2rem 1rem;
}

div h1{
    font-size: 4rem;
    text-align: center;
    color: var(--secondary);
}

ul li{
    display: inline-block;
    list-style: none;
    margin: 0 auto;
  }
  
  
  .nav{
    width: var(--width);
    height: var(--height);
  }
  
  .titulo {
   text-align: center;
   font-size: 60px;
  }
  
  ul{
    width: var(--width);
    text-align: center;
    line-height: var(--line-height);
    
  }
  
  li{
    padding-left: 30px;
  }
  
  
  a{
    text-decoration: none;
    color:var(--Red);
    font-size: 20px;
  
  } 
  
  .Formulario{
    height: var(--height);
    width: var(--width);
    
  }
  
  .Gradiant{
    height: var(--height);
    width: var(--width);
    
  }
  
  .Pseudoclases{
    height: var(--height);
    width: var(--width);
    
  }
  
  .Tarjetas{
    height: var(--height);
    width: var(--width);
    
  }
  
  .Cartas{
    height: var(--height);
    width: var(--width);
    
  }