*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}



img{
    width: 100%;
    display: block;
} 



:root{
  --color1:red;
  --white: #f1f1f1;
  --border-radius:20px;
  --Red:drop-shadow(0px 0px 12px red);
  --Yellow:drop-shadow(0px 0px 12px yellow);
  --Box-shadow:5px 5px 20px rgba(0,0,0,0.4);
}

ul li{
    display: inline-block;
    list-style: none;
    margin: 0 auto;
  }
  
  
  .nav{
    width: 100%;
    height: 100%;
  }
  
  .titulo {
   text-align: center;
   font-size: 60px;
  }
  
  ul{
    width: 100%;
    text-align: center;
    line-height: 50px;
    
  }
  
  li{
    padding-left: 30px;
  }
  
  
  a{
    
    text-decoration: none;
    color: rgb(239, 57, 57);
    font-size: 20px;
  
  } 
  
  .Formulario{
    height: 20px;
    width: 20px;
    
  }
  
  .Gradiant{
    height: 20px;
    width: 20px;
    
  }
  
  .Pseudoclases{
    height: 20px;
    width: 20px;
    
  }
  
  .Tarjetas{
    height: 20px;
    width: 20px;
    
  }
  
  .Cartas{
    height: 20px;
    width: 20px;
    
  }

.titulo {
   text-align: center;
   font-size: 60px;
 }

.card{
    border-radius: var(--border-radius);
    overflow: hidden;
    background:var(--white);
    box-shadow: var(--Box-shadow);
    cursor: default;
    transition: all 400ms ease;
}

.card:hover {
    box-shadow: var(--Box-shadow);
    transform: translateY(-3%);
}


.card img {
    width: 100%;
    display: block;
}

.card .contenido {
    padding: 15px;
    text-align: center;
}

.card .contenido{
    line-height: 1.5;
    color: black;
    font-size: 20px;
}

.card .contenido h3{
    font-weight: 400;
    margin-bottom: 15px;
    color: var(--color1);
    font-size: 30px;
}

.card .contenido a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: var(--color1);
    border: 1px solid var(--color1);
    border-radius: 4px;
    transition: all 400ms ease;
}

.card .contenido a:hover {
    background:var(--color1);
    color:var(--white);
}


.container{
    width: 400px;
    max-width: 1100px;
    margin: 20px auto;
}


.Goku img{
  filter: var(--Yellow);
}


.spidy img{
    filter: var(--Red);

}

